$color-titulo: rgb(165, 42, 144);
$color-fondo: linear-gradient(to left, rgb(230, 207, 226), whitesmoke);
$color-hover: rgb(241, 224, 247);
$color-footer: rgb(240, 172, 217);
$color-Actividades: rgba(223, 247, 223, 0.514);
$color-card: rgba(223, 247, 223, 0.514)
